<div class="entry-list contact-link-list {% if include.compact %}entry-list-compact contact-link-list-compact{% endif %}">

  {% for contact_link_slug in site.data.contact_links.contact_links %}
    {% assign contact_link = site.contact_links | where: 'slug', contact_link_slug | first %}

    <div class="entry contact-link">

      {% if contact_link.email %}
        {% assign direct_url = contact_link.email | encode_email | mailto %}
      {% else %}
        {% assign direct_url = contact_link.direct_url %}
      {% endif %}

      {% if include.compact == true %}
        {% assign aria_label = contact_link.title %}
      {% else %}
        {% assign aria_label = '' %}
      {% endif %}

      <div class="entry-image contact-link-image">
        <a href="{{ direct_url }}" aria-label="{{ aria_label }}">
          {{ site.baseurl | append: site.data.contact_links.icon_baseurl | append: '/' | append: contact_link.slug | append: '.svg' | file_contents }}
        </a>
      </div>

      {% if include.compact != true %}

        <div class="entry-main contact-link-main">

          <header class="entry-header contact-link-header">
            <h3 class="entry-title contact-link-title"><a href="{{ direct_url }}">{{ contact_link.title }}</a></h3>
          </header>

          <div class="entry-desc contact-link-desc">
            {{ contact_link.description | markdownify }}
          </div>

        </div>

      {% endif %}

    </div>

  {% endfor %}

</div>
