<div class="entry-list project-list entry-list-compact project-list-compact">
  {% for project_slug in site.data.projects.featured_projects %}
    {% assign project = site.projects | where: 'slug', project_slug | first %}
    <div class="entry project">
      <div class="entry-icon project-icon">
        <a href="{{ project.direct_url }}"><img src="{{ site.data.projects.icon_path | replace: ':slug', project.slug }}" alt="{{ project.title }}" /></a>
      </div>
      <span class="project-title">{{ project.title }}</span>
    </div>
  {% endfor %}
</div>
