<div class="entry-list project-list entry-list-compact project-list-compact">

  {% for project_slug in site.data.projects.featured_projects %}
    {% assign project = site.projects | where: 'slug', project_slug | first %}

    <div class="entry project">

      <div class="entry-image project-image">
        <a href="{{ project.direct_url }}">
          {{ site.baseurl | append: site.data.projects.icon_baseurl | append: '/' | append: project.slug | append: '.svg' | file_contents }}
        </a>
      </div>

      <span class="project-title">{{ project.title }}</span>

    </div>

  {% endfor %}

</div>
