<footer id="site-footer">

  {% include contact-links.html compact=true %}

  <div id="site-footer-content">

    &copy; {{ site.time | date: '%Y' }} Caleb Evans | <a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a><br />

    Like what I've made? Please <a href="{{ site.email | encode_email | donate_url }}">donate</a>!

  </div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js" defer integrity="sha384-fjThiGz46iluQSUrT72asLp107ZKlIZR8vvVdaeHsEmLlySEPhKvktuTNj0wtHIH" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js" defer integrity="sha384-qSrEYLMHSuUya7HioxgwmVKxoqyVbT2Xmu87cJyVwFm1oq4M6Tz5lcdiFrOrS93l" crossorigin="anonymous"></script>
<script src="{{ site.baseurl }}/assets/scripts/site.js" defer></script>
