<footer class="site-footer">

  <div class="site-footer-content">

    &copy; 2016 Caleb Evans | <a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a><br />

    Like what I've made? Please <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_xclick&item_name=&business=caleb@calebevans.me">donate</a>!

  </div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
<script src="{{ site.baseurl }}/assets/scripts/site.js"></script>
