<footer id="site-footer">

  {% if page.id != 'contact' %}
    {% include contact-links.html compact=true %}
  {% endif %}

  <div id="site-footer-content">

    &copy; {{ site.time | date: '%Y' }} Caleb Evans | <a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a><br />

    Like what I've made? Please <a href="{{ site.email | encode_email | donate_url }}">donate</a>!

  </div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js" integrity="sha384-qSrEYLMHSuUya7HioxgwmVKxoqyVbT2Xmu87cJyVwFm1oq4M6Tz5lcdiFrOrS93l" crossorigin="anonymous" data-turbolinks-eval="false"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.3/turbolinks.js" integrity="sha384-7CY5LHYdEm3L2+MwkrZDrYvJk7FCzw9lWvGv/eNAcPDi6DKu2AXisgLH2DbhRFta" crossorigin="anonymous" data-turbolinks-eval="false"></script>
{% js 'site' data-turbolinks-eval:false %}
