<header id="site-header">

  <a id="site-title-link" href="{{ '/' | prepend: site.baseurl }}" rel="home">
    <h1 id="site-title">{{ site.title }}</h1>
  </a>


  <nav id="site-header-nav">

    <button id="site-header-nav-toggle"><span class="ce-icon ce-icon-list"></span></button>

    <ul id="site-header-nav-list">
      {% for page in site.pages %}
        {% if page.title and page.layout != 'home' %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

  </nav>

</header>
