<header id="site-header">

  <a id="site-title-link" href="{{ site.baseurl }}/" rel="home">
    {% assign retina_header_image_size = site.data.gravatar.header_image_size | times: 2 %}
    <img src="{{ site.email | gravatar_url: site.data.gravatar.header_image_size }}" alt="" srcset="{{ site.email | gravatar_url: retina_header_image_size }} 2x" width="{{ site.data.gravatar.header_image_size }}" height="{{ site.data.gravatar.header_image_size }}" id="site-header-image" />
    <h1 id="site-title">{{ site.title }}</h1>
  </a>

  <nav id="site-header-nav">

    <button id="site-header-nav-toggle" aria-label="Menu">
      {{ '/assets/images/nav-toggle.svg' | inline_svg }}
    </button>

    <ul id="site-header-nav-list">

      {% for page_item in site.data.navigation.pages %}
        {% assign parent_page_slug = page_item | first | first %}
        {% assign parent_page = site.pages | where: 'id', parent_page_slug | first %}

        {% if parent_page %}
          <li>

            <a href="{{ site.baseurl }}{{ parent_page.url }}">{{ parent_page.title }}</a>

          </li>
        {% endif %}

      {% endfor %}

    </ul>

  </nav>

</header>
