<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% if page.title %}
    <title>{{ page.title | escape }} | {{ site.title | escape }}</title>
  {% else %}
    <title>{{ site.title | escape }} | {{ site.tagline | escape }}</title>
  {% endif %}

  {% if page.sitemap != false %}
    {% seo title=false %}
  {% endif %}

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl | append: '/assets/styles/main.css' | cachebust }}" />

  <link rel="shortcut icon" href="{{ site.email | gravatar_url: 32 }}" />
  <link rel="icon" href="{{ site.email | gravatar_url: 192 }}" sizes="192x192" />
  <meta name="twitter:image" content="{{ site.email | gravatar_url: 250 }}" />

  {% for icon_size in site.data.gravatar.apple_touch_icon_sizes %}
    <link rel="apple-touch-icon" href="{{ site.email | gravatar_url: icon_size }}" sizes="{{ icon_size }}x{{ icon_size }}" />
  {% endfor %}

  <link rel="alternate" hreflang="en-US" href="{{ site.url }}{{ page.url | replace: 'index.html', '' }}" />

</head>
