<header id="site-header">

  <a id="site-title-link" href="{{ site.baseurl }}/" rel="home">
    {% assign gravatar_size = 60 %}
    {% assign retina_gravatar_size = gravatar_size | times: 2 %}
    <img src="{{ site.email | gravatar_url: gravatar_size }}" alt="{{ site.title }}" srcset="{{ site.email | gravatar_url: retina_gravatar_size }} 2x" style="width: {{ gravatar_size }}px; height: {{ gravatar_size }}px;" id="site-header-logo" />
    <h1 id="site-title">{{ site.title }}</h1>
  </a>

  <nav id="site-header-nav">

    <button id="site-header-nav-toggle"><img src="{{ site.baseurl }}/assets/images/list.svg" alt="Navigation" /></button>

    <ul id="site-header-nav-list">

      {% for page_item in site.data.navigation.pages %}
        {% assign parent_page_slug = page_item | first | first %}
        {% assign child_page_slugs = page_item | first | last %}
        {% assign parent_page = site.pages | where: 'id', parent_page_slug | first %}

        {% if parent_page %}
          <li>

            <a href="{{ site.baseurl }}{{ parent_page.url }}">{{ parent_page.title }}</a>

            {% if child_page_slugs %}
              <ul class="sub-menu">
                {% for child_page_slug in child_page_slugs %}

                  {% assign child_page = site.pages | where: 'id', child_page_slug | first %}

                  {% if child_page %}
                    <li><a href="{{ site.baseurl }}{{ child_page.url }}">{{ child_page.title }}</a></li>
                  {% endif %}

                {% endfor %}
              </ul>
            {% endif %}

          </li>
        {% endif %}

      {% endfor %}

    </ul>

  </nav>

</header>
