<div class="entry-list project-list">

  <h3 class="entry-list-category-title project-list-category-title">{{ include.category.title }}</h3>

  {% for project in site.projects %}
    {% if project.categories contains include.category.slug %}

      <div class="entry project">

        <div class="entry-image project-image">
          <a href="{{ project.direct_url }}" aria-labelledby="project-title-{{ project.slug }}">
            {{ site.baseurl | append: site.data.projects.icon_baseurl | append: '/' | append: project.slug | append: '.svg' | inline_svg }}
          </a>
        </div>

        <div class="entry-main project-main">

          <h4 class="entry-title project-title" id="project-title-{{ project.slug }}"><a href="{{ project.direct_url }}">{{ project.title }}</a></h4>

          <div class="entry-desc project-desc">
            {{ project.description | markdownify }}
          </div>

        </div>

      </div>

    {% endif %}
  {% endfor %}

</div>
