<div class="entry-list project-list">

  <h3 class="entry-list-category-title project-list-category-title">{{ include.category_title }}</h3>

  {% for project in site.projects %}
    {% if project.categories contains include.category_slug %}
      <div class="entry project">
        <div class="entry-image project-image">
          <a href="{{ project.direct_url }}"><img src="{{ site.data.projects.icon_path | replace: ':slug', project.slug | prepend: site.baseurl }}" alt="{{ project.title }}" /></a>
        </div>
        <div class="entry-main project-main">
          <header class="entry-header project-header">
            <h4 class="entry-title project-title"><a href="{{ project.direct_url }}">{{ project.title }}</a></h4>
          </header>
          <div class="entry-desc project-desc">
            {{ project.short_description | markdownify }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

</div>
