<div class="project-list-container">

  <div class="project-list-column">

    <div class="entry-list project-list">
      {% include project-category.html category_slug="libraries" category_title="Libraries" %}
      {% include project-category.html category_slug="games" category_title="Games" %}
      {% include project-category.html category_slug="tools" category_title="Tools" %}
    </div>

  </div>

  <div class="project-list-column">

    <div class="entry-list project-list">
      {% include project-category.html category_slug="fun" category_title="Fun" %}
      {% include project-category.html category_slug="programs" category_title="Programs" %}
      {% include project-category.html category_slug="alfred-workflows" category_title="Alfred Workflows" %}
      {% include project-category.html category_slug="math" category_title="Math" %}
    </div>

  </div>

</div>
