<div class="entry-list website-list">

  {% for website_slug in site.data.websites.websites %}
    {% assign website = site.websites | where: 'slug', website_slug | first %}

    <div class="entry website">

      <div class="entry-image website-image">
        <a href="{{ website.direct_url }}">
          {% responsive_image_block %}
            path: {{ site.baseurl | append: site.data.websites.icon_baseurl | append: '/' | append: website.slug | append: '.jpg' | replace_first: '/', '' }}
            alt: {{ website.title }}
          {% endresponsive_image_block %}
        </a>
      </div>

      <div class="entry-main website-main">

        <h4 class="entry-title website-title"><a href="{{ website.direct_url }}">{{ website.title }}</a></h4>

        <div class="website-technologies">
          <span class="entry-label">Technologies:</span>
          {{ website.technologies }}
        </div>

      </div>

    </div>

  {% endfor %}

</div>
