// Page content styling

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: 44px;
  margin: 32px 0;
}

h2 {
  font-size: 40px;
  margin: 25px 0;
  margin-top: 0;
  @include layout(compact) {
    font-size: 32px;
  }
}

h3 {
  font-size: 26px;
  margin: 22px 0;
}

h4 {
  font-size: 22px;
  margin: 25px 0;
}

h5 {
  font-size: 18px;
  margin: 30px 0;
}

h6 {
  font-size: 16px;
  margin: 36px 0;
}

a {
  color: $link-color;
  text-decoration: underline;
  a:focus {
    outline: none;
  }
}

b,
strong {
  font-weight: 400;
  color: $strong-color;
}

dfn {
  font-style: italic;
}

p {
  margin: 0 0 24px;
}

code,
kbd,
pre,
samp {
  padding: 0 2px;
  background-color: rgba(#000, 0.4);
  font-family: monospace;
  @include hyphens(none);
}

pre {
  margin: 20px 0;
  padding: 6px 10px;
  white-space: pre-wrap;
  overflow: auto;
  code {
    background: none;
  }
}

blockquote,
q {
  @include hyphens(none);
  quotes: none;
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

blockquote {
  margin: 24px 40px;
  font-style: italic;
  font-size: 18px;
  em, i {
    font-style: normal;
  }
}

small {
  font-size: smaller;
}

ol,
ul {
  margin: 16px 0;
  padding: 0 0 0 40px;
}

ul {
  list-style-type: square;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

li > ul,
li > ol {
  margin: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  border-width: 0;
  vertical-align: middle;
}

svg {
  display: inline-block;
  fill: #fff;
  overflow: hidden;
}

hr {
  border-width: 0;
  height: 1px;
  background-color: rgba(#fff, 0.5);
  margin: 0 0 24px;
}
