// Styling for contact links

.contact-link {
  &-image a {
    $icon-size: 64px;
    width: $icon-size;
    height: $icon-size;
    svg {
      width: inherit;
      height: inherit;
      vertical-align: top;
    }
  }
  &-main p {
    margin: 0;
  }
}
