// Styling for lists of projects and contact links

.entry {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 15px 0;
  &-image {
    a {
      display: inline-block;
      text-decoration: none;
      vertical-align: top;
    }
    svg, img {
      box-shadow: 0 0 10px rgba(#000, 0.3);
    }
  }
  &-main {
    padding-left: 12px;
    font-size: 0;
    vertical-align: top;
  }
  &-title {
    display: inline-block;
    margin: 0;
    margin-bottom: 3px;
    font-size: 20px;
    vertical-align: middle;
  }
  &-desc {
    margin: 0;
    font-size: 18px;
    text-align: left;
    line-height: 1.4;
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  &-list-category-title {
    border-bottom: solid 2px #fff;
  }
  &-label {
    font-weight: 400;
  }
}

.entry-list-compact {
  font-size: 0;
  .entry,
  .entry-image {
    display: inline-block;
    width: auto;
  }
}
