// Styling for lists of projects and contact links

.entry {
  display: table;
  width: 100%;
  margin: 20px 0;
  &-image {
    display: table-cell;
    // Force container to always fit to its contents
    width: 1%;
    a {
      text-decoration: none;
      vertical-align: top;
    }
  }
  &-main {
    display: table-cell;
    padding-left: 10px;
    font-size: 0;
    vertical-align: top;
  }
  &-title {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
  &-desc {
    margin: 0;
    font-size: 18px;
    text-align: left;
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  &-list-category-title {
    border-bottom: solid 2px #fff;
  }
  &-label {
    font-weight: 400;
  }
}

.entry-list-compact {
  font-size: 0;
  .entry,
  .entry-image {
    display: inline-block;
    width: auto;
  }
}
