// Styling for lists of projects and contact links

.entry-list-compact {
  font-size: 0;
  .entry {
    display: inline-block;
  }
}

.entry {
  @include display-flex();
  margin: 20px 0;
  &-image {
    @include flex-shrink(0);
    a {
      display: inline-block;
      text-decoration: none;
      vertical-align: top;
    }
  }
  &-main {
    @include flex-grow(1);
    padding-left: 10px;
    vertical-align: top;
  }
  &-header {
    font-size: 0;
    .entry-title {
      display: inline-block;
      vertical-align: middle;
    }
    .entry-edit-link {
      display: inline-block;
      margin-left: 5px;
      font-size: 0;
      color: #fff;
      text-align: right;
      text-decoration: none;
      vertical-align: middle;
    }
  }
  &-title {
    margin: 0;
  }
  &-desc {
    margin: 0;
    font-size: 18px;
    text-align: left;
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  &-list-category-title {
    border-bottom: solid 2px #fff;
  }
  &-label {
    font-weight: 400;
  }
}
