// Site footer

#site-footer {
  margin: 0;
  padding: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  .contact-link {
    margin: 5px;
    &-image a {
      $icon-size: 40px;
      width: $icon-size;
      height: $icon-size;
    }
  }
}
