// Sass Variables

$body-background: linear-gradient(45deg, #528, #36c);
$font-family-sans-serif: 'Ubuntu', sans-serif;
$link-color: #0cf;
$strong-color: $link-color;
$transition-duration: 150ms;
$transition-easing: ease-in-out;

$layer-box-shadow: 0 0 20px rgba(#000, 0.1);

$body-max-width: 960px;

// Responsive widths
$layout-widths: (
  body-max: $body-max-width,
  hybrid: 768px,
  compact: 540px,
  very-compact: 340px
);
