// Styling for website portfolio entries

.website {
	&-desc {
		margin: 10px 0;
		font-size: 11pt;
	}
	&-image a {
		width: 256px;
		height: 160px;
	}
	img {
		width: inherit;
		height: inherit;
		border-radius: 3px;
		border: solid 2px rgba(#000, 0.25);
	}
	@include layout(hybrid) {
		display: block;
		text-align: center;
		&-main {
			padding-left: 0;
		}
	}
	&-technologies {
		font-size: 10pt;
		text-align: left;
	}
}
