:root {
  --focus-transition-duration: 150ms;
  --focus-transition-timing-function: ease-in-out;
}

// The :focus-visible class only shows when the user is explicitly tabbing via
// the keyboard (or some other accessibility queue); unlike :focus, its styles
// do not linger after clicking a link; source: https://stackoverflow.com/a/45191208/560642
a,
button {
  transition-property: opacity, box-shadow;
  transition-duration: var(--focus-transition-duration);
  transition-timing-function: var(--focus-transition-timing-function);
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-focus-outer);
    border-radius: 5px;
  }
}
input,
textarea {
  transition-property: border-color;
  transition-duration: var(--focus-transition-duration);
  transition-timing-function: var(--focus-transition-timing-function);
  &:focus-visible {
    outline: none;
    border-color: var(--color-focus-inner);
  }
}
.entry-image {
  &:focus-visible {
    box-shadow:
      0 0 0 2px var(--color-focus-inner),
      0 0 0 4px var(--color-focus-outer);
  }
}

// Hide some labels from the UI but still be readable by screen readers
.accessibility-only {
  position: absolute;
  top: -1000px;
  left: -10000px;
}

// For screen readers, adding a hidden "Skip to Main Content" link at the top of
// the page can help screen reader users jump to the page content; for more, see
// <https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/>
a.skip-to-main-content {
  opacity: 0;
  z-index: 1000;
  transition:
    opacity var(--focus-transition-duration) var(--focus-transition-timing-function),
    box-shadow var(--focus-transition-duration) var(--focus-transition-timing-function),
    top var(--focus-transition-duration) var(--focus-transition-timing-function)
      var(--focus-transition-duration),
    left var(--focus-transition-duration) var(--focus-transition-timing-function)
      var(--focus-transition-duration);
  border: solid 2px var(--color-turquoise);
  background-clip: padding-box;
  border-radius: 10px;
  padding: 12px 18px;
  background-color: var(--color-blue-dark);
  font-size: 20px;
  font-weight: var(--font-weight-normal);
  text-decoration: none;
  color: var(--color-text);
  box-shadow: 0 1px 10px var(--color-shadow-light);
  &:focus-visible {
    opacity: 1;
    top: 10px;
    left: 10px;
    transition:
      opacity var(--focus-transition-duration) var(--focus-transition-timing-function),
      box-shadow var(--focus-transition-duration) var(--focus-transition-timing-function);
  }
}

// Per <https://github.com/sveltejs/kit/issues/11993>, move the Svelte announcer
// inline styles to a CSS stylesheet to eliminate CSP issues
#svelte-announcer {
  position: absolute;
  left: 0;
  top: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  // Override the font-size:0 declaration on the <body> to ensure that the
  // Svelte announcer is visible in the accessibility tree
  font-size: 1rem;
}
