// The :focus-visible class only shows when the user is explicitly tabbing via
// the keyboard (or some other accessibility queue); unlike :focus, its styles
// do not linger after clicking a link; source: https://stackoverflow.com/a/45191208/560642
a,
button {
  &:focus-visible {
    outline-width: 0;
    box-shadow: 0 0 0 2px var(--color-focus-outer);
    border-radius: 5px;
  }
}
input,
textarea {
  &:focus-visible {
    outline-width: 0;
    border-color: var(--color-focus-inner);
    box-shadow: 0 0 0 1px var(--color-focus-inner), 0 0 0 3px var(--color-focus-outer);
  }
}
.entry-image {
  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-focus-inner), 0 0 0 4px var(--color-focus-outer);
  }
}

// Hide some labels from the UI but still be readable by screen readers
.accessibility-only {
  position: absolute;
  top: -1000px;
  left: -10000px;
}

.skip-to-main-content {
  &:focus-visible {
    top: 10px;
    left: 10px;
    z-index: 1000;
    border: solid 2px var(--color-turquoise);
    background-clip: padding-box;
    border-radius: 10px;
    padding: 12px 18px;
    background-color: var(--color-blue-dark);
    font-size: 20px;
    font-weight: var(--font-weight-normal);
    text-decoration: none;
    color: var(--color-text);
    box-shadow: 0 1px 10px var(--color-shadow-light);
  }
}
