// The :focus-visible class only shows when the user is explicitly tabbing via
// the keyboard (or some other accessibility queue); unlike :focus, its styles
// do not linger after clicking a link; source: https://stackoverflow.com/a/45191208/560642
a,
button {
  &:focus-visible {
    outline-width: 0;
    box-shadow: 0 0 0 1px $color-green;
    border-radius: 5px;
  }
}
input,
textarea {
  &:focus-visible {
    outline-width: 0;
    box-shadow: 0 0 0 1px $color-blue-dark, 0 0 0 2px $color-green;
  }
}

// Hide some labels from the UI but still be readable by screen readers
.accessibility-only {
  position: absolute;
  top: -1000px;
  left: -10000px;
}
