// Have each project icon "fall into place" (on a timed delay) when the project
// icon enters the DOM

$animation-easing: cubic-bezier(0.075, 0.82, 0.165, 1);

@keyframes fall-into-place {
  from {
    opacity: 0;
    transform: scale(10);
    // Prevent user from accidentally clicking link to project as the icons are
    // falling into place
    pointer-events: none;
  }
  to {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
  }
}

.allow-animations .project-image {
  background-color: #fff;
  & {
    overflow: visible;
  }
  // Some 'clearing' rectangles may be used as part of SVG masks; don't hide these, but only hide the top-level white background
  svg > rect[x='0'][y='0'][width='100%'][height='100%'][fill='#fff'] {
    display: none;
  }
  svg {
    animation: fall-into-place 500ms $animation-easing both;
  }
}

// We only need to add as many delays as there are projects in the largest
// project category
@for $i from 0 through 15 {
  .allow-animations .project:nth-child(#{$i}) {
    .project-image svg {
      animation-delay: ($i * 150ms);
    }
  }
}

// We only need to add as many delays as there are projects in the largest
// project category
@for $i from 0 through 5 {
  .allow-animations .website:nth-child(#{$i}) {
    .website-image img {
      transition-delay: ($i * 150ms);
    }
  }
}
