// Transitions and animations

$transition-duration: 150ms;
$transition-easing: cubic-bezier(0.075, 0.82, 0.165, 1);
$animation-easing: cubic-bezier(0.075, 0.82, 0.165, 1);

// Have each project icon "fall into place" (on a timed delay) when the project
// icon enters the DOM
@keyframes grow-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.featured-projects .project-image .svg-icon-wrapper {
  animation: grow-in 2000ms $animation-easing both;
}
