// Color variables

// Base colors
$color-black: #111;
$color-blue: #068;
$color-blue-dark: #057;
$color-teal: #099;
$color-green: #cf0;
$color-orange: #f93;
$color-red: #d33;
$color-purple: #93c;

// Semantic colors
$body-background-color: $color-blue;
$main-background-color: $color-blue-dark;
$link-color: $color-green;
$strong-color: $link-color;
