// Color variables

:root {
  // Base colors
  --color-black: hsl(0, 0%, 7%);
  --color-gray: hsl(0, 0%, 40%);
  --color-gray-light: hsl(0, 0%, 87%);
  --color-blue-light: hsl(200, 100%, 30%);
  --color-blue-mid: hsl(201, 100%, 28%);
  --color-blue-dark: hsl(203, 100%, 27%);
  --color-turquoise: hsl(195, 100%, 60%);
  --color-green: hsl(72, 100%, 50%);
  --color-white: hsl(0, 0%, 100%);

  --color-shadow-light: hsla(0, 0%, 0%, 0.3);
  --color-shadow-medium: hsla(0, 0%, 0%, 0.5);
  --color-shadow-dark: hsla(0, 0%, 0%, 0.7);

  // Use more vibrant colors on displays that support a p3-based color gamut
  @media (color-gamut: p3) {
    --color-blue-light: oklch(51.09% 0.141 240.76);
    --color-blue-mid: oklch(45.09% 0.161 240.76);
    --color-blue-dark: oklch(42.79% 0.141 244.79);
    --color-green: oklch(92.21% 0.259 123.09);
    --color-turquoise: oklch(76.76% 0.163 226.17);
  }

  // Semantic colors
  --color-body-background-start: var(--color-blue-light);
  --color-body-background-end: var(--color-blue-mid);
  --color-main-background: var(--color-blue-dark);
  --color-accent: var(--color-green);
  --color-text: var(--color-white);
  --color-link: var(--color-accent);
  --color-strong: var(--color-accent);
  --color-focus-inner: var(--color-blue-mid);
  --color-focus-outer: var(--color-turquoise);
}
