// Styling for various container elements

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  max-width: $body-max-width;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--body-background-color);
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-normal);
  font-size: 0;
  color: #fff;
}

article.page {
  position: relative;
  margin: 0 auto;
  --page-padding-v: 30px;
  --page-padding-h: 30px;
  padding: var(--page-padding-v) var(--page-padding-h);
  border-radius: 20px;
  background-color: var(--main-background-color);
  @include layout(compact) {
    --page-padding-h: 20px;
    border-radius: 0;
  }
  @include layout(very-compact) {
    --page-padding-h: 15px;
  }
}
