// Styling for contact links

.contact-link-list:not(.contact-link-list-compact) {
  margin-top: 24px;
}

.contact-link-image {
  box-shadow: none;
  filter: drop-shadow(0 0 5px rgba(#000, 0.3));
  a {
    --icon-size: 64px;
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
.contact-link-main p {
  margin: 0;
}
