// Styling for various container elements

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  max-width: $body-max-width;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--color-body-background-1);
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-light);
  font-size: 0;
  color: var(--color-text);
}
// Because iOS does not support background-attachment:fixed, we must use a
// separate (position:fixed) element to simulate a fixed background image on the
// body
.site-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--color-blue-light);
  background-image: linear-gradient(to bottom, var(--color-blue-light), var(--color-blue-mid));
}

article.page {
  // When the page is transioning to another, both section.page-content child
  // containers will be in the DOM at the same time; because we want to achieve
  // a crossfade effect, we can use CSS Grid to superimpose the second child
  // container above the first while not sacrificing the height of the parent
  // container (source: <https://stackoverflow.com/a/50086485/560642>)
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  margin: 0 auto;
  --page-padding-v: 30px;
  --page-padding-h: 30px;
  padding: var(--page-padding-v) var(--page-padding-h);
  border-radius: 20px;
  background-color: var(--color-main-background);
  background-image: url('/images/backgrounds/squares.png');
  background-repeat: repeat;
  box-shadow: inset 0 1px 5px rgba(#000, 0.25);
  overflow: hidden;
  @include layout(compact) {
    --page-padding-h: 20px;
    border-radius: 0;
  }
  @include layout(very-compact) {
    --page-padding-h: 15px;
  }
}

.page-content {
  // See comment above about use of CSS grid to overlap page content containers
  grid-row-start: 1;
  grid-column-start: 1;
}
