// Page content styling

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
}

h1 {
  font-size: var(--font-size-h1);
  margin: 32px 0;
}

h2 {
  font-size: var(--font-size-h2);
  margin: 25px 0;
  margin-top: 0;
}

h3 {
  font-size: var(--font-size-h3);
  margin: 22px 0;
}

h4 {
  font-size: var(--font-size-h4);
  margin: 25px 0;
}

h5 {
  font-size: var(--font-size-m);
  margin: 30px 0;
}

h6 {
  font-size: var(--font-size-s);
  margin: 36px 0;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  a:focus {
    outline: none;
  }
}

b,
strong {
  font-weight: var(--font-weight-bold);
  color: var(--color-strong);
}

p {
  margin: 0;
  font-size: var(--font-size-p);
  line-height: var(--content-line-height);
  margin-top: 24px;
  .page > &:first-child {
    margin-top: 0;
  }
  .page > &:last-child {
    margin-bottom: 0;
  }
}

small {
  font-size: smaller;
}

ol,
ul {
  margin: 16px 0;
  padding: 0;
  padding-left: 40px;
}

ul {
  list-style-type: square;
}

li {
  font-size: var(--font-size-p);
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

li > ul,
li > ol {
  margin: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  border-width: 0;
  vertical-align: middle;
}

svg {
  display: inline-block;
  width: inherit;
  height: inherit;
  fill: #fff;
  overflow: hidden;
}
