// Styling for lists of projects and contact links

.entry {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 15px;
  box-sizing: content-box;
}
.entry-image {
  display: inline-block;
  overflow: hidden;
  // This is key to prevent entry icons/images from being clipped when the
  // above overflow:hidden is set
  flex-shrink: 0;
  box-shadow: 0 0 10px rgba(#000, 0.3);
  a {
    display: inline-block;
    text-decoration: none;
  }
}
.entry-main {
  padding-left: 12px;
  vertical-align: top;
}
.entry-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 3px;
  vertical-align: middle;
}
.entry-desc {
  margin: 0;
  text-align: left;
  line-height: 1.4;
  font-size: var(--font-size-xxxl);
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
.entry-list-category-title {
  border-bottom: solid 2px #fff;
}

.entry-compact {
  display: inline-block;
  width: auto;
}
