// Site footer

.site-footer {
  margin: 0;
  padding: 20px 0;
  text-align: center;
  p {
    margin: 0;
    font-size: $font-size-m;
  }
  .contact-link {
    margin: 5px;
  }
  .contact-link-image a {
    $icon-size: 40px;
    width: $icon-size;
    height: $icon-size;
  }
}
