@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

label {
  margin-right: 10px;
  font-family: inherit;
  font-size: var(--font-size-m);
  text-align: center;
}

input[type='text'],
input[type='search'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='url'] {
  -webkit-appearance: none;
  appearance: none;
  padding: 8px 10px;
  background-clip: padding-box;
  border: solid 2px rgba(#000, 0.25);
  border-radius: 8px;
  font-family: inherit;
  font-size: var(--font-size-m);
  line-height: 1.3;
  @include placeholder() {
    color: var(--color-gray);
  }
}
.search-input-container {
  display: flex;
  position: relative;
  width: fit-content;
  align-items: center;
}
input[type='search'] {
  --search-input-padding-h: 34px;
  padding-left: var(--search-input-padding-h);
  padding-right: var(--search-input-padding-h);
  background-image: url('/icons/search.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left 9px center;
  // Hide Cancel (X) button on search fields
  &::-webkit-search-cancel-button {
    display: none;
  }
}
.search-input-clear-button {
  --button-space: 4px;
  position: absolute;
  top: var(--button-space);
  right: var(--button-space);
  height: calc(100% - (2 * var(--button-space)));
  border-width: 0;
  border-radius: 6px;
  padding: 0 6px;
  background: none;
  &.hidden {
    display: none;
  }
  &:hover:active {
    background-color: var(--color-gray-light);
  }
  --icon-size: 20px;
  img {
    width: var(--icon-size);
    height: var(--icon-size);
    pointer-events: none;
  }
}
