@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

label {
  margin-right: 10px;
  font-family: inherit;
  font-size: $font-size-m;
  text-align: center;
}

input[type=text],
input[type=search],
input[type=number],
input[type=password],
input[type=email],
input[type=tel],
input[type=url] {
  -webkit-appearance: none;
  padding: 8px 10px;
  border-width: 0;
  border-radius: 5px;
  font-family: inherit;
  font-size: $font-size-m;
  line-height: 1.3;
}
input[type=search] {
  padding-left: 34px;
  background-image: url('/icons/search.svg');
  background-repeat: no-repeat;
  background-position: left 6px center;
  // Hide Cancel (X) button on search fields
  &::-webkit-search-cancel-button {
    display: none;
  }
}
