// Header styling
@use 'sass:math';

.site-header {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 20px 20px;
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  @include layout(very-compact) {
    padding: 15px;
    padding-right: 10px;
  }
}

.site-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: var(--font-size-site-title);
  font-weight: var(--font-weight-normal);
  vertical-align: middle;
}

.site-title-link {
  margin: 0;
  text-decoration: none;
  vertical-align: middle;
}

.site-header-image {
  margin-right: 15px;
  border-radius: 10px;
  vertical-align: middle;
  box-shadow: 0 0 10px var(--color-shadow);
}
