// Sass Mixins
@use 'sass:math';

// Variables for overlay menus

:root {
  --menu-transition-duration: 200ms;
  --menu-transition-easing: ease-in-out;

  --menu-background-color: var(--color-shadow-light);
  --menu-arrow-width: 26px;
  --menu-border-radius: 5px;
  --menu-offset-top: 5px;
  --menu-offset-right: -4px;
}

// Mixins for overlay menus

// Enables a fade transition for the given element (also initially hides it)
@mixin transition-fade() {
  opacity: 0;
  z-index: -1;
  transition-property: opacity, transform, z-index;
  transition-duration: var(--menu-transition-duration), var(--menu-transition-duration),
    calc(var(--menu-transition-duration) * 2);
  transition-timing-function: var(--menu-transition-easing);
}

// Fade in the given element (one for which fade transition has been enabled)
@mixin transition-fade-in() {
  opacity: 1;
  z-index: 9999;
  transition-property: opacity, transform;
  transition-duration: var(--menu-transition-duration);
}

@mixin floating-menu($position) {
  @include transition-fade();
  border-radius: var(--menu-border-radius);
  background-color: var(--menu-background-color);
  position: absolute;
  top: 100%;
  margin-top: var(--menu-offset-top) !important;
  @if $position == 'center' {
    right: 50%;
    transform: translateX(50%);
  } @else {
    right: var(--menu-offset-right);
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: calc(var(--menu-arrow-width) / 2);
    border-top-width: 0;
    border-color: transparent;
    border-bottom-color: var(--menu-background-color);
    position: absolute;
    top: calc(-1 * var(--menu-arrow-width) / 2);
    transform: translateX(50%);
    @if $position == 'center' {
      right: 50%;
    } @else {
      right: calc(
        var(--menu-border-radius) +
          (var(--menu-arrow-width) / 2) +
          $position - var(--menu-offset-right)
      );
    }
  }
}
