@use 'responsive' as *;

// Styling for projects

.project-archive {
  // The gap between both project columns
  --project-list-column-gap: 40px;
  // If you change this value, you must also update the <img> width/height in
  // src/routes/projects/Project.svelte
  --project-icon-width: 80px;
}

// Prevent scroll jumps when no results are returned from a project search
[data-page-id='home'],
[data-page-id='projects'] {
  min-height: 1200px;
}

.project-search-container {
  text-align: center;
  margin-top: 24px;
}
.project-search-container-form {
  display: inline-flex;
  align-items: center;
}
#project-search-input {
  width: 240px;
  max-width: 100%;
  font-size: var(--font-size-l);
}
.project-search-result-count {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--font-size-s);
}
.project-search-no-results {
  margin-top: 30px;
  font-size: var(--font-size-h3);
}

.project-category-columns {
  display: flex;
  gap: 0 var(--project-list-column-gap);
  @include layout(hybrid) {
    flex-direction: column;
  }
}
.project-category-column {
  flex-grow: 1;
  flex-basis: 0;
}

.project .entry-image {
  border-radius: 10px;
  background-color: var(--color-white);
  margin-bottom: 2px;
  width: var(--project-icon-width);
  height: var(--project-icon-width);
}

.project .entry-desc {
  @include layout(very-compact) {
    font-size: var(--font-size-xl);
  }
}
