// Styling for projects

.project-archive {
  // The gap between both project columns
  --project-list-column-gap: 60px;
  // If you change this value, you must also update the <img> width/height in
  // src/routes/projects/Project.svelte
  --project-icon-width: 80px;
}

// Prevent scroll jumps when no results are returned from a project search
[data-page-id='home'],
[data-page-id='projects'] {
  min-height: 1200px;
}

.project-search-container {
  text-align: center;
  margin-top: 24px;
}
.project-search-container-form {
  display: inline-flex;
  align-items: center;
}
#project-search-input {
  width: 240px;
  max-width: 100%;
  font-size: var(--font-size-l);
}
.project-search-result-count {
  display: block;
  margin-top: 10px;
  font-size: var(--font-size-s);
}
.project-search-no-results {
  margin-top: 30px;
  font-size: var(--font-size-h2);
}

// Ensure that no whitespace separates any two columns
.project-list-container {
  display: flex;
  justify-content: space-between;
  gap: 0 var(--project-list-column-gap);
  text-align: left;
  @include layout(hybrid) {
    flex-wrap: wrap;
  }
}

.project-list-column {
  flex-grow: 1;
  flex-basis: 0;
  display: inline-flex;
  flex-direction: column;
  @include layout(hybrid) {
    width: 100%;
  }
}

.project .entry-image {
  border-radius: 10px;
  background-color: var(--color-white);
  margin-bottom: 2px;
  a {
    width: var(--project-icon-width);
    height: var(--project-icon-width);
  }
}

.project .entry-desc {
  @include layout(very-compact) {
    font-size: var(--font-size-xl);
  }
}
