@use 'sass:map';
// Responsive setup

// Responsive widths
$layout-widths: (
  hybrid: 768px,
  compact: 540px,
  very-compact: 340px
);

// Applies the given styling to a media query
@mixin layout($layout) {
  $width: map.get($layout-widths, $layout);
  @media only screen and (max-width: $width) {
    @content;
  }
}
