// Sass Variables

// Colors
$color-grey: #111;
$color-blue: #3cf;
$color-teal: #099;
$color-green: #9f0;
$color-orange: #f93;
$color-red: #d33;
$color-purple: #93c;

// Layout
$body-background-color: $color-grey;
$font-family-sans-serif: 'M PLUS Rounded 1c', sans-serif;
$link-color: $color-blue;
$strong-color: $color-green;
$transition-duration: 150ms;
$transition-easing: ease-in-out;

$layer-box-shadow: 0 0 20px rgba(#000, 0.1);

$body-max-width: 960px;

// Responsive widths
$layout-widths: (
  body-max: $body-max-width,
  hybrid: 768px,
  compact: 540px,
  very-compact: 340px
);
