// Styling for website portfolio entries
@use 'sass:math';

// The number of columns to display for the Website gallery
$website-list-columns: 3;

.website-list {
  display: flex;
  margin-top: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.website {
  display: block;
  flex-basis: math.div(100%, $website-list-columns);
  width: auto;
  text-align: center;
  @include layout(hybrid) {
    flex-basis: 100%;
  }
}
.website-list-category-title {
  margin-top: 0;
}
.website-title {
  margin: 2px 0;
}
.website-main {
  display: block;
  padding-left: 0;
}
.website-image {
  width: auto;
  border-radius: 10px;
  a {
    width: 256px;
    height: 160px;
  }
  &,
  [data-placeholder-image] {
    background-color: #fff !important;
  }
}
.website-details {
  font-size: $font-size-m;
}
.website-years {
  font-weight: $font-weight-bold;
}
