// Styling for contact links

.contact-link {
  &-image {
    a {
      $icon-size: 64px;
      width: $icon-size;
      height: $icon-size;
    }
    svg {
      vertical-align: top;
      box-shadow: $layer-box-shadow;
    }
  }
  &-main p {
    margin: 0;
  }
}
