// Header styling

#site-header {
  display: table;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  ul, li {
    margin: 0;
    padding: 0;
  }
  @media (max-width: 340px) {
    padding: 10px;
  }
}

#site-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  font-size: 30px;
  color: $strong-color;
  vertical-align: middle;
}

#site-title-link {
  display: table-cell;
  margin: 0 auto;
  font-size: 0;
  text-decoration: none;
  color: #fff;
  vertical-align: middle;
}

#site-header-image {
  margin-right: 10px;
  border: solid 1px rgba(#000, 0.5);
  background-color: rgba(#000, 0.15);
  border-radius: 5px;
  vertical-align: middle;
}

#site-header-nav {
  display: table-cell;
  position: relative;
  clear: both;
  margin: 0 auto;
  text-align: right;
  white-space: nowrap;
  vertical-align: middle;
}

#site-header-nav-list {
  font-size: 0;
  li {
    display: inline-block;
    position: relative;
    a {
      color: #fff;
      display: block;
      font-size: 15px;
      line-height: 1;
      padding: 15px 20px;
      text-decoration: none;
    }
  }
  @include layout(hybrid) {
    @include floating-menu(3px);
    .site-header-nav-open & {
      @include transition-fade-in();
    }
  }
  .sub-menu {
    @include floating-menu("center");
    transition-delay: $transition-duration;
    @include layout(hybrid) {
      margin-top: $menu-arrow-width / 2;
    }
    li {
      display: block;
      text-align: center;
    }
  }
  li:hover .sub-menu,
  .sub-menu-open {
    @include transition-fade-in();
    transition-delay: 0s;
  }
}

// Navigation menu toggle for hybrid/compact layout
#site-header-nav-toggle {
  display: none;
  @include layout(hybrid) {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 9px;
    font-size: 0;
    &,
    &:hover,
    &:focus,
    &:active {
      background: none;
      border-width: 0;
      color: #fff;
    }
    svg {
      $icon-size: 24px;
      width: $icon-size;
      height: $icon-size;
    }
  }
}
