// Sass Variables

$body-background-color: #a33;
$font-family-sans-serif: 'Ubuntu', sans-serif;
$link-color: #9f3;
$strong-color: #9f3;
$transition-duration: 150ms;
$transition-easing: ease-in-out;

$body-max-width: 960px;

// Responsive widths
$layout-widths: (
  body-max: $body-max-width,
  hybrid: 768px,
  compact: 540px,
  very-compact: 340px
);
