---
layout: page
---

{{ content }}

<div class="entry-list contact-link-list">
  {% for contact_link_slug in site.data.contact_links.contact_links %}
    {% assign contact_link = site.contact_links | where: 'slug', contact_link_slug | first %}
    <div class="entry contact-link">
      {% if contact_link.email %}
        {% assign direct_url = contact_link.email | antispambot | mailto %}
      {% else %}
        {% assign direct_url = contact_link.direct_url %}
      {% endif %}
      <a href="{{ direct_url }}" class="entry-image contact-link-image">
        <img src="{{ site.data.contact_links.icon_path | replace: ':slug', contact_link.slug | prepend: site.baseurl }}" alt="{{ contact_link.title }}" />
      </a>
      <div class="entry-main contact-link-main">
        <header class="entry-header contact-link-header">
          <h3 class="entry-title contact-link-title"><a href="{{ direct_url }}">{{ contact_link.title }}</a></h3>
        </header>
        <div class="entry-desc contact-link-desc">
          {{ contact_link.short_description | markdownify }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
